.body {  
 background-color: #f30000 !important;

}

.title{
    font-family: fantasy;
    color: white;
    background-color: black;
    padding: 8px;
    font-weight: bold;
  

}
.subtitle {
    font-size: 30px;
    padding: 3px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
.id{
    color: black;
    font-weight: bold;
}

.details{
    color: black;
    font-weight: bold;
}
.card {
    background-color: #00F5F5 !important;
    color: white;
    font-family: fantasy;  
    transition: transform .5s;
}
.card:hover{
    transform: scale(1.1);
}

a:hover{
    text-decoration: underline;
    color: rgb(1, 25, 240);
}